/* ----------- Dark Mode ----------- */
/* @media (prefers-color-scheme: dark) {
  body{
    background-color: #333;
  }


} */

body {
  margin: 5 auto;
  padding: 5 auto;
}


/* :root {
  --nav-bg: #0B1F3A;
  --nav-hover-bg: #153E75;
  --nav-hover-accent: #2D82B7;
  --primary: #0057A0;
  --accent: #28A0C9;
  --background: #F5F7FA;
  --text: #212121;
  --submenu-bg: #122C52;
} */


:root {
  --nav-bg: #1E1F28;
  --nav-hover-bg: #2E2F38;
  --nav-hover-accent: #2E2F38;
  --submenu-bg: #1E1F28;
  --primary: #3D9DF2;
  --accent: #001d3f;
  --background: #FAFAFB;
  --text: #333;

}


/* 
:root {
  --nav-bg: #1C1C1E;
  --nav-hover-bg: #333333;
  --nav-hover-accent: #6386c2;
  --submenu-bg: #2B2B2E;
}



:root {
  --nav-bg: #003C3C;
  --nav-hover-bg: #005252;
  --nav-hover-accent: #3a7a7a;
  --submenu-bg: #024242;
}


:root {
  --nav-bg: #1E2A36;
  --nav-hover-accent: #6386c2;
  --nav-hover-bg: #2B3A47;
  --submenu-bg: #263340;
} */