
.galleryCarouselWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.galleryCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 280px;
  overflow: hidden;
}

.gallerySlide {
  position: absolute;
  width: 500px;
  height: 450x;
  transition: all 0.5s ease-in-out;
  display: none;
  opacity: 0;
  transform: scale(0.8);
  cursor: pointer;
}

.gallerySlide.active {
  display: block;
  opacity: 1;
  z-index: 3;
  transform: translateX(0) scale(1);
}

.gallerySlide.prev {
  display: block;
  opacity: 0.7;
  z-index: 2;
  transform: translateX(-60%) scale(0.85);
}

.gallerySlide.next {
  display: block;
  opacity: 0.7;
  z-index: 2;
  transform: translateX(60%) scale(0.85);
}

.gallerySlide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(82, 81, 81, 0.2);
}

.galleryNavBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(71, 71, 71, 0.2);
  transition: all 0.3s ease;
}

.galleryNavBtn:hover {
  background: rgba(255, 255, 255, 1);
  transform: translateY(-50%) scale(1.1);
}

.galleryNavBtn:focus-visible {
  outline: 1px solid #277a00;
}

.galleryPrevBtn {
  left: 10%;
}

.galleryNextBtn {
  right: 10%;
}

@media (max-width: 768px) {
  .gallerySlide {
    width: 250px;
    height: 200px;
  }

  .galleryNavBtn {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}