/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/privacy-policy/privacy-policy.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.privacy-policy_PrivacyPolicy__iFVJd{
    justify-content: center;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.privacy-policy_Title__j7zKu{
    margin-top: 70px;
    color: #1d7e0a;
}
.privacy-policy_subTitle__nVwIO{
    text-align: left;
    color: #1d7e0a;
}
@media screen and (min-width: 1024px),
screen and (max-width: 768px),
screen and (max-width: 1118px),
screen and (max-width: 340px),
screen and (min-width: 1118px) {
    .privacy-policy_PrivacyPolicy__iFVJd{
        justify-content: center;
        padding: 10px;
        margin: 0 auto;
        font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
    }
    .privacy-policy_Title__j7zKu{
        margin-top: 70px;
    }
}
